.mapWindow {
    --mapWindoWidth: 175.8rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__directPanel {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    &__switches {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        flex-wrap: wrap;
    }
}