.mapWindow {
    --mapWindoWidth: 175.8rem;
    margin: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__directPanel {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    &__switches {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        flex-wrap: wrap;
    }
    &__map-container {
        border-radius: 50px;
    }


}