.placeSwitchGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    &__items {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    &__input {
        min-width: 51rem;
        height: 6rem;
        border-radius: 1rem;
        background-color: #F5F5F5;
        font-size: 2rem;
        padding: 2rem;
    }
}