.updateModalContent {
    --updateModalContentMinWidth: 57rem;
    min-width: var(--updateModalContentMinWidth);
    border-radius: 2rem;
    color: black;
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    &__title {
        font-size: 2.5rem;
        font-weight: 700;
    }
}